{% extends 'base.html' %}

{% block title %}Pending Bill Listing{% endblock title %}

{% block content %}

<br>
<h1 class="text-center">Pending Bills</h1>
<br>
<br>
<table class="table table-striped align-middle" style="font-size: 13px;">
    <tr style="font-size: 15px;">
        <th></th>
        <th>Job No</th>
        <th>Dated</th>
        <th>Client</th>
        <th>Description</th>
        <th>Packages</th>
        <th></th>
    </tr>

    
        {% for j in object_list %}
        <tr>
            {% if not j.billed %}
            <td><a class="btn btn-sm btn-info" href="{% url 'edit_job' j.id %}">Edit</a></td>
            <td class="text-center">{{j.jobNo}}</td>
            <td class="col-1">{{j.jobDate|date:'d-m-Y'}}</td>
            <td class="col-3">{{j.client}}</td>
            <td class="col-2">{{j.item}}</td>
            
                {% if j.containers %}
                    <td class="col-3">{{j.containers}}X{{j.size}} CONT STC {{j.packages}}</td>
                {% else %}
                    <td class="col-3">{{j.packages}}</td>
                {% endif %}
                  
            <td><a class="btn btn-sm btn-primary" href="{% url 'create_bill' j.id %}" style="font-size: 12px;">Create Bill</a></td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        <span>{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}

    </span>
</div>
{% endblock content %}